.container-fluid{
    background-color: grey;
}
.navbar-toggle{
    border: 1px solid black;
    color: black;
}
.icon-bar{
    background-color: black;
}
.navbar-brand{
    color: black;
    font-size: 30px;
}
.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid black;
	color: black;
	display: block;
}
.item-name{
    font-weight: bolder;
    font-size: 20px;
    
}
.content-box{
    background-color: rgb(177, 177, 178);
}